<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    {{#if title}}
    <title>{{title}}</title>
    {{else}}
    <title>Default title.</title>
    {{/if}}
    {{!-- other style --}}
    <link rel="stylesheet" href="./css/site.css">
    <script type="text/javascript" src="./js/client-side.js"></script>
    <script type="text/javascript" src="./js/client-cookie-helper.js"></script>
</head>
{{!-- header_nav added by hly for css --}}
<div class="header_nav">
{{!-- header --}}
    <div class="header">
        <header>
            <h1>iBlogger</h1>
        </header>
    </div>
{{!-- header end --}}

{{!-- nav bar --}}
{{!-- To do: links to be added --}}
<div class="nav">
    <ul>
        <li class="leftnav"><a href="./" class="text">Home Page</a></li>
        <li class="leftnav"><a href="./allArticles" class="text">All Articles</a></li>
    </ul>
</div>
{{!-- nav bar end --}}
</div>

<body class="bodywithnav">
    {{{body}}}
</body>

</html>