<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    {{#if title}}
    <title>{{title}}</title>
    {{else}}
    <title>Default title.</title>
    {{/if}}
    {{!-- other style --}}
    <link rel="stylesheet" href="./css/site.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="./js/client-side.js"></script>
    <script type="text/javascript" src="./js/client-cookie-helper.js"></script>

</head>
<body class="bodywithsidebar">

<div class="header_nav">
{{!-- header --}}
<div class="header">
    <header>
        <h1>iBlogger</h1>
    </header>
</div>
{{!-- header end --}}

{{!-- nav bar --}}
{{!-- To do: links to be added --}}
<div class="nav">
    <ul>
        <li class="leftnav"><a href="" class="text">Articles</a></li>
        <li class="rightnav"><a href="" class="text">Log out</a></li>
        <li class="rightnav"><a href="" class="icon"><img src="./images/icons/panda.png" width="40px"></a></li>
        <li class="rightnav">
            <a class="notifications">
                <span><img src="./images/notification.png"></span>
                <span class="badge">{{notificationCount}}</span>
            </a>
        </li>
    </ul>
</div>
</div>
{{!-- nav bar end --}}

{{!-- notification pop up window --}}
<div class="notification-container hide" id="notification-container">
    <div class="notification notification-info">
        <p class="message">Lorem ipsum dolor sit amet.</p> 
    </div>
    <div class="notification notification-info">
        <p class="message">Lorem ipsum dolor sit amet.</p> 
    </div>
    <div class="notification notification-info">
        <p class="message">Lorem ipsum dolor sit amet.</p> 
    </div>
</div>
{{!-- notification pop up window end --}}

{{!-- sidebar⬇️ waiting for links--}}
<div id="sidebar">
    <ul>
        <li><a href="#" class="text">Edit Account</a></li>
        <li><a href="#" class="text">My Articles</a></li>
        <li><a href="#" class="text">Add Articles</a></li>
        <li><a href="#" class="text">My Favorite Articles</a></li>
        <li><a href="#" class="text">Following</a></li>
        <li><a href="#" class="text">Follower</a></li>
        <li><a href="#" class="text">Analytics</a></li>
    </ul>
</div>


    <div class="maincontent">
     {{{body}}}
    </div>
</body>

</html>