<div style="width: 95%; margin-top: -7.5%">
    <form action="./submitArticle" method="post" enctype="multipart/form-data">
        <textarea class="title" name="title" required></textarea>
        <textarea class="content" name="content" required></textarea><br>
        <div class="bTn">
            <div id="budong">
            <span id="success"></span>
            <div></div>
            </div>
            <label for="inpFile" id="mylabel">Upload an image</label>
            <input id="inpFile" type="file" name="imageFile" accept=".png,.jpg,.jpeg,.bmp"><br>
            <button type="submit" id="mybutton" name="article" value="{{article.id}}">Submit</button>
        </div>
    </form>
</div>