{{!-- <body id="login_body"> --}}
<div id="login_body">
    <div id="login_container">
        <h1>Login</h1>
        {{#if toastMessage}}
        <p id="login_fail_message">{{toastMessage}}</p>
        {{/if}}
        <form action="./login" method="POST">
            <label>
                <input class="ipt" type="text" name="username_input" placeholder="Username">
            </label>
            <label>
                <input class="ipt" type="password" name="password_input" placeholder="Password">
            </label>
            <button type="submit" id="login_btn">Login</button>
        </form>
    </div> 
</div>
{{!-- </body> --}}