/* nav bar style */
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(158, 108, 108);
}

.nav .text {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
}

.nav .icon {
    display: block;
    text-align: center;
    padding: 3px 16px;
  }

.nav .leftnav {
  float: left;
} 

.nav .rightnav {
    float: right;
} 

.nav li a:hover:not(.active) {
  background-color: #db9292;
}

.nav a.active {
  background-color: #db9292;
}
/* nav bar style end */


/* notification icon */
.notifications {
    padding: 11.2px 16px;
    position: relative;
    display: inline-block;
  }

.notifications img{
  width:min-content;
}

.notifications .badge {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 3px 8px;
    border-radius: 50%;
    background: red;
    color: white;
    
  }
/* notification icon end*/

/* notification popup window */
body{
  position: relative;
}

.notification-container {
    position: absolute;
    top: 90px;
    right: 200px;
    width: 350px;
    max-width: calc(100% - 30px);
}

.notification {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    color: #fff;
    font-size: 16px;
    padding: 5px 20px;
    line-height: 20px;
    margin-bottom: 15px;
    animation: grow 0.5s ease-in forwards;
}

@keyframes grow {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.hide {
    animation: shrink 0.3s ease-out forwards;
}

@keyframes shrink {
    to {
        opacity: 0;
        transform: scale(0.8);
    }
}

.notification-info {
    background-color: #d07b1a;
}

.read{
  background-color: #ca664f59;
}
/* notification popup window end*/

/* notification message */
.flex-container{
  display: flex;
}

.flex-vertical-container{
  display: flex;
  flex-direction: column;
}

.flex-container .message{
  padding: 5px 6px;
}

a {
  color: black;
}

a:visited {
  color: #706F6F;
}

.message{
  margin: 0;
  text-align: left;
}

.icon{
  display: block;
  margin: auto;
}

.datastamp {
  color: rgba(240, 229, 228, 0.4);
}
/* notification message end */

/* login page style */
#login_body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(158, 108, 108);
}

#login_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 450px;
  border-radius: 20px;
  background-color: #db9292;
  box-shadow: 15px 15px 10px #a48294;
  overflow: hidden;
  position: relative;
}

#login_container form {
  width: 350px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#login_container form .ipt {
  width: 250px;
  height: 40px;
  outline: none;
  border: none;
  border-bottom: 1px solid #f9ebeb;
  background: none;
  color: #f9ebeb;
  font-size: 15px;
}

#login_container form .ipt::placeholder {
  color: #f9ebeb;
  font-size: 15px;
}

#login_container form #login_btn {
  width: 250px;
  height: 40px;
  outline: none;
  border: 2px inset;
  background-color: #f9ebeb;
  border-radius: 20px;
  color: #f9ebeb;
  background: none;
  cursor: pointer;
  margin-top: 20px;
}

#login_container h1 {
  color:#f9ebeb;
  font-size: 50px;
  letter-spacing: 5px;
  font-weight: 100;
  text-shadow: 5px 5px 5px rgb(158, 108, 108);
  z-index: 1;
}

#login_fail_message {
  color:#f9ebeb;
  text-align: center;
  font-style:italic;
  font-size: 20px;
}
/* login page end */

/* all article page, articles layout */
.main-container{
  display: flex;
  flex-direction: column;
  margin: 0 30px;
}

.grid-articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 30px;
}

.card {
  background-color: #db9292;
  margin: 20px;
  border-radius: 10px;
  color: #f9ebeb;
  text-align: center;
}

.favorite {
  display: flex;
  justify-content: flex-end;
}

.loginHint{
  display: flex;
  justify-content: flex-end;
  color: #db9292;
}

.loginHint p{
  margin: 0;
}

.moreButton {
  display: flex;
  justify-content: center;
}

#showMoreArticles{
  color: #db9292;
  font-size: large;
}

.sort-container{
  font-size: large;
  font-weight: bold;
  color: rgb(158, 108, 108);
  margin: 20px 50px;
}
/* all article page, articles layout end */


/* login page style */
#login_body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9ebeb;
}

#login_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 450px;
  border-radius: 20px;
  background-color: #db9292;
  box-shadow: 15px 15px 10px #a48294;
  overflow: hidden;
  position: relative;
}

#login_container form {
  width: 350px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#login_container form .ipt {
  width: 250px;
  height: 40px;
  outline: none;
  border: none;
  border-bottom: 1px solid #f9ebeb;
  background: none;
  color: #f9ebeb;
  font-size: 15px;
}

#login_container form .ipt::placeholder {
  color: #f9ebeb;
  font-size: 15px;
}

#login_container form #login_btn {
  width: 250px;
  height: 40px;
  outline: none;
  border: 2px inset;
  background-color: #f9ebeb;
  border-radius: 20px;
  color: #f9ebeb;
  background: none;
  cursor: pointer;
  margin-top: 20px;
}

#login_container h1 {
  color:#f9ebeb;
  font-size: 50px;
  letter-spacing: 5px;
  font-weight: 100;
  text-shadow: 5px 5px 5px rgb(158, 108, 108);
  z-index: 1;
}

#login_fail_message {
  color:#f9ebeb;
  text-align: center;
  font-style:italic;
  font-size: 20px;
}
/* login page ends */

/* login&sign-up layout body style */
.bodywithnav {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: rgb(158, 108, 108);
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav ul li {
  display: inline;
  margin-left: 10px;
  float: inline-end;
}

.header_nav .header {
  padding-left: 20px;
}

/*login&sign-up layout body ends */

/* sidebar style ⬇️ */
#sidebar {
  float: left;
  width: 200px;
  height: 120vh;
  overflow: hidden;
  background-color: #db9292;
  z-index: -1;
}

#sidebar li a:hover:not(.active) {
  background-color: rgb(158, 108, 108);
}

#sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#sidebar ul li {
  list-style: none;
}

#sidebar .text {
  display: block;
  color: #f9ebeb;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
}

/* #layout_body {
  margin-top: 50px;
  margin-left: 300px;
  float: right;
} not used*/

.bodywithsidebar {
  margin: 0;
  padding: 0;
  background-color:#f9ebeb;
}

.maincontent {
  margin-left: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding:0;
}
/* sidebar style ends */

/* editAccount page style⬇️ */
#edit_account_container {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  background-color: #f9ebeb;
  color:rgb(158, 108, 108);
  position: relative;
}

.editipt {
  width: 250px;
  height: 40px;
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(158, 108, 108);
  background: none;
  color: rgb(158, 108, 108);
  font-size: 15px;
}

.editipt ::placeholder {
  color: rgb(158, 108, 108);
  font-size: 15px;
}

#edtForm .btn {
  width: 80px;
  height: 30px;
  outline: none;
  border: 2px;
  background-color: rgb(158, 108, 108);
  border-radius: 20px;
  color: #f9ebeb;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

#edtForm img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 10px;
}

#edtForm textarea {
  width: 300px;
  height: 60px;
  border-color: rgb(158, 108, 108);
  overflow: scroll;
  border: 1px solid rgb(158, 108, 108);
  color:rgb(158, 108, 108);
  font-size: 15px;
  resize: none;
}

#textnew {
  display: flex;
}
/* editAccount ends */

/* signup ⬇️*/
#signuppage {
  margin: 0;
  padding: 0 ;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9ebeb;
  color:rgb(158, 108, 108);
  font-size: 20px;
}

#signuppage img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

#signuppage .signText {
  width: 250px;
  height: 30px;
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(158, 108, 108);
  background: none;
  color: rgb(158, 108, 108);
}

#signpage textarea {
  width: 300px;
  height: 60px;
  border-color: rgb(158, 108, 108);
  overflow: scroll;
  border: 1px solid rgb(158, 108, 108);
  background-color: #f9ebeb;
  color:rgb(158, 108, 108);
  font-size: 15px;
  resize: none;
}

#textareaBox {
  display: flex;
}

#signupBtn {
  width: 300px;
  height: 30px;
  outline: none;
  border: 2px;
  background-color: rgb(158, 108, 108);
  border-radius: 20px;
  color: #f9ebeb;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
/* signup end */






/* addarticles css start */
#inpFile {
  display: none; 
}

.bTn {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#mylabel {
  display: inline-block;
  padding: 10px 10px;
  background-color: rgb(158, 108, 108);
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

#mylabel:hover {
  background-color: #db9292;
}


#mybutton {
  display: inline-block;
  padding: 12px 20px;
  margin-right: 10px;
  background-color: rgb(158, 108, 108);
  color: #fff;
  font-size: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#mybutton:hover {
  background-color: #db9292;
}
/* addarticles css end */

/* favorite articles css modified */
.grid-favArticles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 30px;
}
/* favorite articles css modified */



/* Home Page */
.welcomeMessage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(158, 108, 108);
}

.welcomeMessage h1, .welcomeMessage h2{
  text-align: center;
}

.likes{
  background-color: #db9292;
  border: none;
}
/* Home Page end */

